{{- if .Values.profiseeRunTime.deployIngressRule }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: profisee-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/client-header-buffer-size: "512k"
    nginx.ingress.kubernetes.io/client_body_buffer_size: "512k"
    nginx.ingress.kubernetes.io/large-client-header-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "512k"
    nginx.ingress.kubernetes.io/proxy-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-busy-buffers-size: "512k"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "5400"
    nginx.ingress.kubernetes.io/proxy-next-upstream: "off"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "5400"
    nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "5400"
    nginx.ingress.kubernetes.io/server-snippet: |
      set $block 0;
      if ($http_x_imperva_id !~* "{{.Values.ingress.impervaHeaderId}}" ) {
         set $block 1;
      }
      if ($uri == "/healthcheck" ) {
         set $block 0;
      }
      if ($block == 1) {
         return 403;
      }
    {{- if .Values.profiseeRunTime.isPaaS }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    {{- end }}

    {{- if .Values.profiseeRunTime.useLetsEncrypt }}
    cert-manager.io/cluster-issuer: letsencrypt
    {{- end }}

spec:
  tls:
  - hosts:
    - {{.Values.profiseeRunTime.externalDnsName}}
    secretName: profisee-tls-ingress
  rules:
  - host: {{.Values.profiseeRunTime.externalDnsName}}
    http:
      paths:
      {{- if .Values.profiseeRunTime.isPaaS }}
      - path: /(.*)
      {{- else }}
      - path: /{{.Values.profiseeRunTime.webAppName}}/?(.*)$
      {{- end }}
        pathType: Prefix
        backend:
          service:
            name: profisee-service
            port:
              number: 80
{{- end }}

