{{- if .Values.profiseeRunTime.deployIngressRule }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: profisee-ingress
  annotations:
    {{- if eq .Values.ingress.className "nginx" }}
    # NGINX Ingress Controller annotations
    nginx.ingress.kubernetes.io/client_body_buffer_size: "512k"
    nginx.ingress.kubernetes.io/client-header-buffer-size: "512k"
    nginx.ingress.kubernetes.io/large-client-header-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "512k"
    nginx.ingress.kubernetes.io/proxy-busy-buffers-size: "512k"
    {{- if .Values.profiseeRunTime.isPaaS }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    {{- end }}
    {{- end }}

    {{- if eq .Values.ingress.className "traefik" }}
    # Traefik Ingress Controller annotations
    {{- if and .Values.profiseeRunTime.isPaaS .Values.ingress.traefikMiddleware }}
    traefik.ingress.kubernetes.io/router.middlewares: {{ .Values.ingress.traefikMiddleware }}
    {{- end }}
    {{- end }}

    {{- if .Values.profiseeRunTime.useLetsEncrypt }}
    cert-manager.io/cluster-issuer: letsencrypt
    {{- end }}

spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
  - hosts:
    - {{.Values.profiseeRunTime.externalDnsName}}
    {{- if ne .Values.ingress.className "traefik" }}
    secretName: profisee-tls-ingress
    {{- end }}
  rules:
  - host: {{.Values.profiseeRunTime.externalDnsName}}
    http:
      paths:
      {{- if .Values.profiseeRunTime.isPaaS }}
      {{- if eq .Values.ingress.className "traefik" }}
      - path: /
        pathType: Prefix
      {{- else }}
      - path: /(.*)
        pathType: ImplementationSpecific
      {{- end }}
      {{- else }}
      {{- if eq .Values.ingress.className "traefik" }}
      - path: /{{.Values.profiseeRunTime.webAppName}}
        pathType: Prefix
      {{- else }}
      - path: /{{.Values.profiseeRunTime.webAppName}}/?(.*)$
        pathType: ImplementationSpecific
      {{- end }}
      {{- end }}
        backend:
          service:
            name: profisee-service
            port:
              number: 80
{{- end }}
