{{- if .Values.profiseeRunTime.deployIngressRule }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: profisee-ingress
  annotations:
    {{- if eq .Values.ingress.controller "community-nginx" }}
    nginx.ingress.kubernetes.io/client_body_buffer_size: "512k"
    nginx.ingress.kubernetes.io/client-header-buffer-size: "512k"
    nginx.ingress.kubernetes.io/large-client-header-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-buffers: "32 512k"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "512k"
    nginx.ingress.kubernetes.io/proxy-busy-buffers-size: "512k"
    {{- if .Values.profiseeRunTime.isPaaS }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    {{- end }}
    {{- end }}
    {{- if eq .Values.ingress.controller "f5-nginx" }}
    nginx.org/mergeable-ingress-type: "minion"
    nginx.org/client-max-body-size: "0"
    nginx.org/proxy-buffer-size: "512k"
    nginx.org/proxy-buffers: "32 512k"
    nginx.org/proxy-connect-timeout: "5400s"
    nginx.org/proxy-read-timeout: "5400s"
    nginx.org/proxy-send-timeout: "5400s"
    {{- if not .Values.profiseeRunTime.isPaaS }}
    nginx.org/use-regex: "true"
    nginx.org/location-snippets: |
      rewrite ^/{{ .Values.profiseeRunTime.webAppName }}/(.*)$ /$1 break;
    {{- end }}
    {{- end }}
    {{- if .Values.profiseeRunTime.useLetsEncrypt }}
    cert-manager.io/cluster-issuer: letsencrypt
    {{- end }}

spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if ne .Values.ingress.controller "f5-nginx" }}
  tls:
  - hosts:
    - {{.Values.profiseeRunTime.externalDnsName}}
    secretName: profisee-tls-ingress
  {{- end }}
  rules:
  - host: {{.Values.profiseeRunTime.externalDnsName}}
    http:
      paths:
      {{- if eq .Values.ingress.controller "community-nginx" }}
      {{- if .Values.profiseeRunTime.isPaaS }}
      - path: /(.*)
      {{- else }}
      - path: /{{.Values.profiseeRunTime.webAppName}}/?(.*)$
      {{- end }}
        pathType: ImplementationSpecific
      {{- end }}
      {{- if eq .Values.ingress.controller "f5-nginx" }}
      {{- if .Values.profiseeRunTime.isPaaS }}
      - path: /
        pathType: Prefix
      {{- else }}
      - path: /{{.Values.profiseeRunTime.webAppName}}
        pathType: Prefix
      {{- end }}
      {{- end }}
        backend:
          service:
            name: profisee-service
            port:
              number: 80
{{- end }}
